* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: monospace;
    height: 100%;
    background: linear-gradient(#ea966c 50%, #ebd459);
    background-attachment: fixed;
    color: #435768;
}